$typography: (
  fontFamily: (
    sans: ('SourceSansPro', 'ui-sans-serif', 'system-ui', 'sans-serif'),
    serif: ('SourceSansPro', 'ui-serif', 'Georgia', 'serif'),
    mono: ('ui-monospace', 'SFMono-Regular', 'monospace'),
  ),
);
