@use '../mixins' as mixins;

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  color-scheme: light dark;
}

body, html {
  font-family: 'Poppins', system-ui, sans-serif;
  height: 100%;
  line-height: 1.5;
  overflow-x: hidden;
  font-size: 14px;
  -webkit-overflow-scrolling: touch;
  background: var(--surface-50);
  color: var(--text-900);
}

code, pre, kbd {
  font-family: 'JetBrains Mono', monospace;
}

img,
video,
canvas,
svg {
  transition: none;
}

button, 
a {
  @include mixins.interactive;
  @include mixins.focusable;
}

::selection {
  background-color: var(--primary-500);
  color: var(--text-900);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--surface-100);
}

::-webkit-scrollbar-thumb {
  background: var(--surface-200);
  border-radius: 9999px;
  
  &:hover {
    background: var(--surface-50);
  }
} 